---
const { imagePath, imageAlt, link } = Astro.props;
---

<a
  href={link}
  target="_blank"
  class="absolute top-4 -left-16 rounded-full bg-white outline-1 outline-gray-700"
>
  <img
    src={imagePath}
    alt={imageAlt}
    class="h-12 w-12 rounded-full object-cover p-0.5"
  />
</a>
