---

---

<div class="container mt-2 outline-1 outline-gray-700 rounded-lg">
  <ul class="ml-10 border-l-1 border-gray-700">
    <li class="relative ml-10 py-4">
      <a
        href="https://osubeaverstore.com/"
        target="_blank"
        class="absolute -left-16 top-4 rounded-full bg-white outline-1 outline-gray-700"
      >
        <img
          src="/public/beaverstore.jpg"
          alt="OSU Beaver Store"
          class="object-cover w-12 h-12 rounded-full"
        />
      </a>
      <div class="flex flex-1 flex-col justify-start gap-1 leading-none">
        <p class="text-xs text-gray-400">June 2024</p>
        <h2 class="font-bold">OSU Beaver Store</h2>
        <p class="text-gray-400 text-sm">Web Assistant</p>
        <ul class="list-inside list-disc leading-normal text-gray-200">
          <li>made web stuff</li>
          <li>did awesome stuff</li>
        </ul>
      </div>
    </li>
  </ul>
</div>
