---
import ExperienceButton from "./ExperienceButton.astro";
import ExperienceContent from "./ExperienceContent.astro";
import ExperiencePoint from "./ExperiencePoint.astro";
---

<div class="container mt-4">
  <div
    id="switcher"
    class="mb-2 grid w-full grid-cols-2 items-center justify-center rounded-lg bg-gray-800 p-1"
  >
    <ExperienceButton title="Work" active left />
    <ExperienceButton title="Education" right />
  </div>
  <ExperienceContent id="Work" active>
    <ExperiencePoint
      imagePath="/beaverstore.jpg"
      link="https://osubeaverstore.com/"
      date="June 2024 - Present"
      location="OSU Beaver Store"
      role="Web Assistant"
      bullets={[
        "Processed 70–300+ weekly orders depending on season, maintaining speed and accuracy under pressure",
        "Edited 500+ product photos and uploaded hundreds of listings with consistent formatting and accurate data",
        "Assisted customers in person by locating products, answering questions, and providing tailored recommendations",
        "Reviewed and managed thousands of digital listings to ensure accuracy, formatting consistency, and up-to-date availability",
      ]}
    />
  </ExperienceContent>

  <ExperienceContent id="Education">
    <ExperiencePoint
      imagePath="/OSUCrest.png"
      link="https://oregonstate.edu/"
      date="September 2023 - Present"
      location="Oregon State University"
      role="Bachelor of Science in Computer Science"
      bullets={[
        "3.97 GPA",
        "Courses taken in Data Structures, Algorithms, Assembly and Computer Architecture, Operating Systems, and Web Development ",
        "Expected to graduate Winter 2026",
      ]}
    />
  </ExperienceContent>

  <script>
    const workButton = document.getElementById("workButton");
    const educationButton = document.getElementById("educationButton");
    const workContent = document.getElementById("Work");
    const educationContent = document.getElementById("Education");

    workButton.addEventListener("click", () => {
      if (workButton?.hasAttribute("data-active")) {
        return;
      }
      workButton?.toggleAttribute("data-active");
      educationButton?.toggleAttribute("data-active");

      workContent.toggleAttribute("data-active");
      educationContent.toggleAttribute("data-active");
    });

    educationButton.addEventListener("click", () => {
      if (educationButton?.hasAttribute("data-active")) {
        return;
      }
      educationButton?.toggleAttribute("data-active");
      workButton?.toggleAttribute("data-active");

      workContent.toggleAttribute("data-active");
      educationContent.toggleAttribute("data-active");
    });
  </script>
</div>
