---
import ProjectCard from './ProjectCard.astro';
import CatCallImage from '../assets/catcall.zando.dev.jpg';
import CATLabelMakerImage from '../assets/CATLabelMaker.png';
import ZandoDevImage from '../assets/zando.dev.jpg';
import DiceSlayerImage from '../assets/arduino.jpg';
---

<div class="container mt-10">
  <h1 class="text-3xl font-sans font-bold text-center">Projects</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
    <ProjectCard
      title="CatCall"
      description="Tinder for cat adoption"
      skills={[
        'React',
        'Node.js',
        'Express',
        'MongoDB',
        'Tailwind CSS',
        'Docker',
      ]}
      imageURL={CatCallImage}
      live="https://catcall.zando.dev"
      repo="https://github.com/Zando411/CatCall"
    />
    <ProjectCard
      title="Portfolio Website"
      description="The portfolio site you're currently on!"
      skills={['HTML', 'React', 'Astro', 'Tailwind CSS']}
      imageURL={ZandoDevImage}
      live="https://zando.dev"
      repo="https://github.com/Zando411/portfolio-website"
    />
    <ProjectCard
      title="Dice Slayer"
      description="Text and light based dice rolling dungeon crawler played on an arduino"
      skills={['Arduino', 'C++']}
      imageURL={DiceSlayerImage}
      repo="https://github.com/Zando411/Dice-Slayer"
    />
    <ProjectCard
      title="CAT Label Maker"
      description="Private Python tool that generates printable product labels from catalog numbers by fetching product images and compiling them into a PDF sheet of ready-to-print labels"
      skills={['Python']}
      imageURL={CATLabelMakerImage}
    />
  </div>
</div>
